<!DOCTYPE html>
<html lang="en">
<!--Inicio del Head-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS Propio-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/body.css' %}">
    <!--CSS bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Brandium</title>
</head>
<!--fin del Head-->
<!--Inicio del Body-->
<body>
    <div class="wrapper">
        <!--Inicio del header-->
        <div class="header">
            <nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-tm">
                <p><b>Brandium</b></p>
            </nav>
        </div>
        <!--Fin del header-->
        <!--Inicio del content-->
        <div class="content">
            <!--Mensaje-->
            {% if messages %}     
                {% for message in messages %}
                    {% if message.tags == 'error' %} 
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endif %} 
                    {% if message.tags == 'success' %} 
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}       
                {% endfor %}     
            {% endif %}
            <!--Fin mensaje-->
            <div class="card">
                <div class="card-body row align-items-center">
                    <div class="d-grid gap-2 col-6 mx-auto row align-items-center">
                        <button id="search" class="btn btn-secondary" type="button">Recopilar de marcas</button>
                        <button id="detail-modal-open" class="btn btn-secondary" type="button">Completar marcas</button>
                        <button id="result" class="btn btn-secondary" type="button">Visualizar marcas</button>
                      </div>
                </div>
              </div>
        </div>
        
        <!--Fin del content-->
        <!--Inicio modal para confirmar el proceso de completar marcas-->
        {% if registros %} 
            <div class="modal" id="completar-marcas" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Aviso</h5>
                    </div>
                    <div class="modal-body">
                    <p>Actualmente existen {{ registros.0 }} marcas sin completar, ¿Desea continuar?</p>
                    </div>
                    <div class="modal-footer">
                    <button id="detail" type="button" class="btn btn-primary">Continuar</button>
                    <button id="detail-modal-close" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
                </div>
            </div>
        {% endif %}
        <!--fin modal para confirmar el proceso de completar marcas-->
        <!--Inicio modal de carga-->
        <div class="modal" id="carga" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <p>Cargando datos</p>
                  <button id="carga-close" type="button" class="btn btn-primary">Aceptar</button>
                </div>
              </div>
            </div>
        </div>
        <!--fin del  modal de carga-->
        <!--Inicio del footer-->
        <div class="footer">
            <p>pie de página</p>
        </div>
        <!--Fin del footer-->
    </div>

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>  

    <!--JS bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

    <script>
        $('#search').click(function(){
            location.href='/busqueda'
        })

        $('#detail-modal-open').click(function(){
            $('#completar-marcas').modal('show')
        })

        $('#detail-modal-close').click(function(){
            $('#completar-marcas').modal('toggle')
        })

        $('#detail').click(function(){
            location.href='/scraping/detail'
            $('#completar-marcas').modal('toggle')
            $('#carga').modal('show')
        })

        $('#carga-close').click(function(){
            $('#carga').modal('toggle')
        })
        
        $('#result').click(function(){
            location.href='https://brandium.herokuapp.com/dashboard'
        })
    </script>
</body>
<!--Fin del Body-->
</html>